<!-- carousel   -->
<div id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!-- Carousel items -->
	<div class="carousel-inner pagination-centered">
		<div class="active item">
			<h1>DUDE SWEET CAROUSEL BRAH</h1>
			<h3>ermahgerd carousel</h3>
		</div>
		<div class="item">
			<h1>DUDE SWEET CAROUSEL BRAH</h1>
			<h3>ermahgerd carousel</h3>   
		</div>
		<div class="item">
			<h1>DUDE SWEET CAROUSEL BRAH</h1>
			<h3>ermahgerd carousel</h3>
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- what -->
<div class="container-fluid">

	<div class="row-fluid">
		
		<!-- why -->
		<div class="span4 well">
			<h1>What</h1>
		</div>
		<!-- how -->
		<div class="span4 well">
			<h1>Why</h1>
		</div>

		<!-- caregiver -->
		<div class="span4 well">
			<h1>Help/How</h1>
		</div>

	</div>

	<!-- p-something -->
	<div class="row-fluid">
		<div class="span6 well">
			<h1>Left trendy content w/ background</h1>
		</div>
		<div class="span6 well">
			<h1>Right trendy content w/ background</h1>
		</div>

	</div>

</div>