<div class="flower-header">
</div>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="span3 sidebar">
                <%= raw @page.content_for(:sidebar) %>
            </div>

            <div class="span7 content">
                <%= raw @page.content_for(:Body) %>
            </div>
        </div>
    </div>
</div>


