<div class="container-fluid">

	<div class="row-fluid">
		<div class="span3">
			<h2>News/Events</h2>
			<p>n an unknown printer took a galley of type and scrambled it to make a type specimen</p>
		</div>
		<div class="span3">
			<h2>Want to Volunteer?</h2>
			<p>n an unknown printer took a galley of type and scrambled it to make a type specimen</p>
		</div>
		<div class="span3">
			<h2>Careers</h2>
			<p>n an unknown printer took a galley of type and scrambled it to make a type specimen</p>
		</div>
		<div class="span3">
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-facebook"></i></a></div>
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-twitter"></i></a></div>
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-linkedin"></i></a></div>
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-google-plus"></i></a></div>
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-pinterest"></i></a></div>
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-github"></i></a></div>
		</div>
	</div>

</div>
