
<div class="row-fluid">
	<div class="span2 offset2">
		<h4>Contact Us</h4>
		<address>
			<strong>Some Company</strong><br>
			Some Street<br>
			Some City, MN 12345<br>
			<abbr title="Phone">P:</abbr> (123) 456-7890<br/>
			<a href="mailto:lorem@ipsum.com">placeholder@placeholder.com</a>
		</address>
	</div>				
	<div class="span3">
		<h4>About</h4>
		<p>We are an awesome company that does incredible things.  </p>
	</div>
	<div class="span3 social">
		<h4>Social</h4>
		<div class="row-fluid">
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-facebook"></i></a></div>
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-twitter"></i></a></div>
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-linkedin"></i></a></div>
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-google-plus"></i></a></div>
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-pinterest"></i></a></div>
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-github"></i></a></div>
		</div>
	</div>
</div>