 <div class="container-fluid">
    <div class="row-fluid copyright">
        <div class="span6">
            Rabble rabble
        </div>

        <div class="span6 pull-right">
            Rabble?
        </div>
    </div>
</div>