<div class="wavy visible-desktop">
</div>

<div class="container-fluid footer ">

	<div class="row-fluid">
		<div class="span3">
			<%= raw @footer.content_for :section1 %>
		</div>
		<div class="span3">
			<%= raw @footer.content_for :section2 %>
		</div>
		<div class="span3">
			<%= raw @footer.content_for :section3 %>
		</div>
		<div class="span3 pagination-right social-links">
			<a href="https://twitter.com/hospice_tc" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @hospice_tc</a>
			<script src="//platform.twitter.com/widgets.js"></script>
			<br/>
			<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
			<script type="IN/FollowCompany" data-id="659840" data-counter="none"></script>
			<br/>
			<div class="fb-like pagination-right" data-href="https://www.facebook.com/pages/Hospice-of-The-Twin-Cities/121191591227977" data-send="true" data-layout="button_count" data-width="100%" data-show-faces="false" data-font="segoe ui"></div>
		</div>
	</div>
</div>
