<div class="container-fluid">

	<div class="row-fluid">
		<div class="span3">
			<h2>News/Events</h2>
			<p><%= link_to "What's going on at Hospice of the Twin Cities?", "/blog" %></p>
		</div>
		<div class="span3">
			<h2>Want to Volunteer?</h2>
			<p><%= link_to "Find out more about ways you can help.", "/htcs/volunteers/new" %></p>
		</div>
		<div class="span3">
			<h2>Careers</h2>
			<p><%= link_to "View our list of job opportunities", "/careers" %></p>
		</div>
		<div class="span3">
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-facebook"></i></a></div>
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-twitter"></i></a></div>
			<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-linkedin"></i></a></div>
		</div>
	</div>

</div>
