 <div class="container-fluid">
    <div class="row-fluid copyright">
        <div class="span6">
            Copyright &copy; 2013 Hospice of the Twin Cities
        </div>

        <div class="span6 pull-right pagination-right">
            <%= link_to "Blog", "/blog"  %>
            <%= link_to "Privacy", "/assets/privacy.pdf"  %>
            <%= mail_to "schaidp@hospiceofthetwincities.com", "Contact"  %>
        </div>
    </div>
</div>